<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">Library Front-End</h1>
      <div class="list-group">
        <button *ngIf="!isAuthorized" 
          class="btn btn-info" 
          (click)="signUp()">
          Sign Up / Sign in
        </button>

        <button 
          class="btn btn-info" 
          (click)="getPublicBooks()">
          Get Public Books
        </button>
        
        <button
          class="btn btn-info" 
          (click)="getPrivateBooks()">
          Get Private Books
        </button>

        <button *ngIf="isAuthorized" 
          class="btn btn-danger" 
          (click)="signOut()">
          Sign Out
        </button>
      </div>
    </div>

    <div class="col-lg-9">
      <section class="container library-list">
          <h3>Public Books</h3>
          <div class="row">
            <div *ngFor="let book of publicBooks" class="col-lg-4 col-md-6 mb-4 book">
              <h4 class="title">{{ book.title }}</h4>
              <p>By {{ book.author }}</p>
            </div>
          </div>
        </section>
        
        <section class="container library-list">
          <h3>Private Books</h3>
          <div class="row">
            <div *ngFor="let book of privateBooks" class="col-lg-4 col-md-6 mb-4 book">
              <h4 class="title">{{ book.title }}</h4>
              <p>By {{ book.author }}</p>
            </div>
          </div>
        </section>
    </div>
</div>




